.signUp {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp-title {
  text-align: center;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
}

.signUp-form {
  width: 350px;
  text-align: center;
}

.signUp-image-wrapper {
  margin: 6px 0 14px 0;
}

@media screen and (max-width: 500px) {
  .signUp-form {
    width: 70%;
  }
}
