/* Footer */
.footer {
  background-color: #f6f6f6;
}
.footer .inner {
  padding: 40px 15px 60px;
}
.footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .policy {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer .policy li {
  margin-right: 15px;
  padding: 3px;
  cursor: pointer;
}
.footer .policy .info-btn {
  display: none;
}
.footer .sns a {
  margin-left: 10px;
}
.footer .sns a img {
  width: 21px;
  height: 21px;
}
.footer .info {
  display: block;
  margin-top: 30px;
}
.footer .info div {
  color: #999;
  font-size: 12px;
  margin-bottom: 2px;
}

@media (max-width: 925px) {
  .footer .menu {
    flex-direction: column;
  }

  .footer .menu .policy {
    margin-bottom: 20px;
  }

  .footer .menu .policy li {
    margin: 0 8px;
  }

  .footer .menu .sns a {
    margin: 0 5px;
  }

  .footer .info {
    display: none;
  }

  .footer .policy .info-btn {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  .footer .policy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .menu .policy li {
    margin-bottom: 5px;
  }
}
