.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  width: 400px !important;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.modal .title {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal .title span {
  font-size: 17px;
}

.modal .title img {
  width: 20px;
  height: 20px;
}

@media (max-width: 450px) {
  .modal-content {
    width: 300px !important;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
}
