.cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.position {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.cart-left {
  width: 60%;
  float: left;
  box-sizing: border-box;
  margin-top: 5%;
}

.cart-right {
  width: 40%;
  float: right;
  box-sizing: border-box;
  margin-top: 6%;
}

th {
  text-align: center;
  vertical-align: middle;
}

.cart-header {
  border-bottom: 2px solid rgb(51, 51, 51);
  padding-bottom: 1rem;
  z-index: 200;
  position: relative;
}

.cart-header h1 {
  font-size: 1.4rem;
  font-weight: 800;
  color: rgb(51, 51, 51);
}

.payBtn {
  width: 50%;
  margin-left: 30px;
}

.UDBtn {
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  height: 45px;
  width: 48%;
}

.cartTable {
  padding: 5px;
}

.btnLayout {
  display: flex;
  justify-content: space-around;
}

.quantityBtn {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 10%;
}
