.cart .cartprice {
  width: 50%;
  margin-left: 30px;
  padding-top: 30px;
}
.cart .calcwrap {
  padding: 15px 0;
  border: 1px solid lightgray;
  height: auto;
}
.cart .orderprice,
.cart .discount,
.cart .shipping {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 20px;
}
.cart .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: lightgray;
  font-weight: 700;
}
.cart .title {
  font-size: 16px;
}
.cart .price {
  font-size: 20px;
}
.cart Button {
  width: 100%;
  margin-top: 20px;
}
