.main {
  height: 100%;
}

/* common */
button {
  border: none;
  padding: 0;
  background: none;
}

.section {
  height: 100%;
}

ul {
  list-style: none;
}

.section {
  display: flex;
}

.section-3 {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-row {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

#s2 {
  background-color: rgb(239, 235, 237);
}

#s1 .liberty-info {
  height: 33.3%;
}

.section .text-group {
  text-align: center;
}

.section .text-group div {
  margin: 10px 0;
}

.liberty-info .text1 {
  font-size: 40px;
  font-weight: 800;
}

.liberty-info .text2 {
  font-size: 50px;
  font-weight: 500;
}
.liberty-info .text3 {
  font-size: 30px;
}

.main .order-button {
  font-size: 20px;
}

.main .image {
  width: 100%;
  height: 100%;
}

.main .chromaluxe_img {
  width: 400px;
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .liberty-info .text1 {
    font-size: 28px;
  }

  .liberty-info .text2 {
    font-size: 30px;
  }

  .liberty-info .text3 {
    font-size: 20px;
  }

  .main .order-button {
    font-size: 15px;
  }

  .section-row {
    flex-direction: column;
    justify-content: center;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .main .section img {
    width: 75%;
  }

  #s1 img {
    width: 100%;
  }

  #s2 img {
    margin-top: 20px;
  }
}
