.change-password-page {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100%;
}

.change-password-page form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.change-password-page form > * {
  margin-bottom: 1rem;
}

.change-password-page button {
  width: 100%;
  background-color: #d3b369;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
}
