/* common */
button {
  border: none;
  padding: 0;
  background: none;
}

.section,
.section-row {
  height: 100%;
}

ul {
  list-style: none;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  width: 100%;
  position: fixed;
}

.header-items {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.header-items li {
  margin-right: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.background {
  background-color: rgb(239, 235, 237);
}

.text-group {
  text-align: center;
}

.section .text-group div {
  text-align: center;
  margin: 10px 0;
}

.text1 {
  font-size: 30px;
}

.text2 {
  font-size: 20px;
}

.outline-button {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 10px;
}

.outline-button:hover {
  background-color: rgb(240, 240, 240);
  border: 1px solid gray;
  padding: 5px 10px;
}

.image {
  margin: 20px;
  width: 270px;
}

.chromaluxe_img {
  width: 500px;
  height: 400px;
}

/* Footer */
footer {
  background-color: #f6f6f6;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  display: flex;
  padding: 0;
}
footer li {
  padding-right: 15px;
}
footer .sns {
  text-align: right;
}
footer .sns a {
  padding-right: 10px;
}
footer .sns a img {
  width: 21px;
  height: 21px;
}
footer .info {
  margin-top: 30px;
}
footer .info div {
  color: #999;
  font-size: 12px;
  padding-bottom: 2px;
}
