.detail {
  float: right;
  margin-right: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  margin: 5%;
  min-width: 0;
  display: block;
  width: 100%;
  padding: 5%;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}
