/* common */
button {
    border: none;
    padding: 0;
    background: none;
}

ul {
    list-style: none;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}



/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    width: 100%;
    position: fixed;
}

.header-items {
    display: flex;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.header-items li {
    margin-right: 30px;
}

.header-items button {
    margin: 0;
}



/* Footer */
footer {
    background-color: #f6f6f6;
}

.textCheck {
    font-size: 30px;
}


footer .inner {
    padding: 40px 0 60px 0;
}

footer .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    display: flex;
    padding: 0;
}

footer li {
    padding-right: 15px;
}

footer .sns {
    text-align: right;
}

footer .sns a {
    padding-right: 10px;
}

footer .sns a img {
    width: 21px;
    height: 21px;
}

footer .info {
    margin-top: 30px;
}

footer .info div {
    color: #999;
    font-size: 12px;
    padding-bottom: 2px;
}
