/* Section */
.DetailWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.TCheck {
  font-size: 30px;
  padding-left: 9rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.Detailcontent {
  padding-top: 5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.Detailcontainer1,
.Detailcontainer2,
.Detailcontainer3,
.Detailcontainer4 {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  align-items: center;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 5px;
  margin: 1rem 9rem 0 9rem;
}

.Detailcontainer {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  align-items: center;
  margin: 1rem 9rem 0 9rem;
}

.productRepresentUrl {
  width: 200px;
  height: 150px;
}

.Detailcontainer1 h5 {
  margin: 0;
}

.Detailul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.Detailul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Detailul li p {
  margin: 0;
  margin-left: 1rem;
  font-size: x-large;
  justify-content: space-around;
  width: 100%;
}

.DetailProduct {
  display: flex;
  width: 100%;
}

.DetailProductName,
.DetailProductQuantity,
.DetailProductPrice {
  justify-content: space-around;
}

.DetailCName {
  font-size: large;
  width: 33.33%;
}

.Detailcontainer3,
.Detailcontainer4 {
  display: flex;
}

.DetailSpacing {
  justify-content: space-around;
  margin-left: 3rem;
  width: 30%;
}

.DetailSpacing div {
  margin: 5px;
}

.finalDetail {
  display: flex;
  border-top: 1px solid #d2d2d7;
  padding-top: 5px;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.charge,
.delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.FinalTop,
.FinalBottom {
  display: flex;
  flex-direction: column;
}

.FinalTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.FinalBottom {
  margin-top: auto;
  width: 100%;
}

.finalWrapper {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px 0;
  }

  .header-items {
    margin-bottom: 10px;
  }

  .header-items li {
    margin-right: 10px;
  }

  .DetailProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .DetailProductName,
  .DetailProductQuantity,
  .DetailProductPrice {
    text-align: center;
  }

  .Detailcontainer1,
  .Detailcontainer2,
  .Detailcontainer3,
  .Detailcontainer4,
  .Detailcontainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
  }

  .DetailSpacing {
    display: flex;
    flex-direction: column;
  }

  .charge,
  .delivery {
    display: flex;
    flex-direction: column;
  }

  .finalWrapper {
    display: flex;
    flex-direction: column;
  }

  footer .inner {
    padding: 20px 0 30px 0;
  }

  footer .menu {
    flex-direction: column;
  }

  footer ul {
    margin-bottom: 10px;
  }

  .DetailCName,
  .DetailSpacing,
  .DetailCName,
  .delivery,
  .finalDetail,
  .charge {
    text-align: center;
  }
}
