body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.Text1 {
  font-size: 20px;
  padding-left: 9rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.orderId {
  font-size: small;
}

.section1,
.section2,
.section3,
.section4 {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  align-items: center;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 5px;
  margin: 1rem 9rem 0 9rem;
  height: 200px;
  width: 1000px;
}

.section1 h5 {
  margin: 0;
}

.Detailul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.Detailul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Detailul li p {
  margin: 0;
  margin-left: 1rem;
  justify-content: space-around;
  width: 100%;
}

.DetailProduct {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}


.DetailProduct img {
  width: 200px;
  height: 150px;
  margin-right: 1rem;
}

.productRepresentUrl {
  width: 200px;
  height: 150px;
}

.DetailProductName {
  font-size: 20px;
  flex-basis: calc(100% / 2);
  flex-grow: 1;
  text-align: center;
}

.DetailProductPrice,
.DetailProductQuantity {
  font-size: 20px;
  flex-basis: calc(100% / 4);
  flex-grow: 1;
  text-align: center;
}

.DetailProductOptions {
  font-size: small;

}

.DetailCName {
  font-size: large;
  width: 33.33%;
}

.Detailcontainer3,
.Detailcontainer4 {
  display: flex;
}

.DetailSpacing {
  justify-content: space-around;
  margin-left: 3rem;
  width: 30%;
}

.DetailSpacing div {
  margin: 5px;
}

.finalWrapper {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

.FinalTop,
.FinalBottom {
  display: flex;
  flex-direction: column;
}

.FinalTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.FinalBottom {
  margin-top: auto;
  width: 100%;
}

.charge,
.delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.finalDetail {
  display: flex;
  border-top: 1px solid #d2d2d7;
  padding-top: 5px;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.section5 {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  align-items: center;
  margin: 1rem 9rem 0 9rem;
}

.DetailProductQuantity {
  margin-right: 5px;
}
