body {
  margin: 0;
  padding: 0;
}

.section1 {
  background-color: aquamarine;

}

.section2 {
  background-color: blue;
}

.section3 {
  background-color: bisque;
}

.section4 {
  background-color: blueviolet;
}

.section5 {
  background-color: cadetblue;
}

.Text1 {
  font-size: 30px;
  padding-left: 9rem;
  padding-top: 1rem;
  padding-bottom: 0;
}


.section1,
.section2,
.section3,
.section4 {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  align-items: center;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 5px;
  margin: 1rem 9rem 0 9rem;
  height: 200px;
}

.section1 h5 {
  margin: 0;
}

.Detailul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.Detailul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Detailul li p {
  margin: 0;
  margin-left: 1rem;
  font-size: x-large;
  justify-content: space-around;
  width: 100%;
}

.DetailProduct {
  display: flex;
  width: 100%;
}

.productRepresentUrl {
  width: 200px;
  height: 150px;
}

.DetailProductName,
.DetailProductQuantity,
.DetailProductPrice {
  justify-content: space-around;
}

.DetailCName {
  font-size: large;
  width: 33.33%;
}

.Detailcontainer3,
.Detailcontainer4 {
  display: flex;
}

.DetailSpacing {
  justify-content: space-around;
  margin-left: 3rem;
  width: 30%;
}

.DetailSpacing div {
  margin: 5px;
}

.finalWrapper {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

.FinalTop,
.FinalBottom {
  display: flex;
  flex-direction: column;
}

.FinalTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.FinalBottom {
  margin-top: auto;
  width: 100%;
}

.charge,
.delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.finalDetail {
  display: flex;
  border-top: 1px solid #d2d2d7;
  padding-top: 5px;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.section5 {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  align-items: center;
  margin: 1rem 9rem 0 9rem;
}
