.login {
  height: 100%;
}

.login .section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .header {
  position: fixed;
}

.company-login,
.social-login {
  width: 350px;
  margin: 20px 0;
}

.social-login .social-login-button-group {
  display: flex;
  justify-content: center;
}

.social-login .social-login-button-group .social-login-button {
  margin: 0 6px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form .checkbox {
  margin-top: 6px;
  margin-bottom: 6px;
}

.button {
  margin: 6px 0;
}

.login-nav {
  display: flex;
  justify-content: space-around;
}

.login-title {
  text-align: center;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
}

.border {
  border: 1px solid lightgray;
  width: 380px;
}


.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal.is-active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.Nonmember-bt {
  font-size: 13px;
  padding: 17px;
}

.login-nav button:hover {
  color: #0071e3;
}

.Nonmember-bt:hover {
  color: #0071e3;
}




.input-wrapper {
  position: relative;
}

.input-wrapper .input {
  width: 100%;
  border: 1.5px solid lightgray;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.input-wrapper:hover .input {
  border: 1.5px solid #0071e3;
}

.input-wrapper .input:focus {
  outline: none;
  border: 1.5px solid #0071e3;
  padding: 12px 10px 8px;
}

.input-wrapper .value .input {
  padding: 12px 10px 8px;
}

.input-wrapper .input:focus+.label,
.input-wrapper .value .label {
  position: absolute;
  top: -7px;
  transition: top 0.1s;
}

.input-wrapper .label {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 13px;
  padding: 0px 3px;
  background: white;
  color: gray;
}


@media screen and (min-width: 501px) {
  .modal.is-active .modal-content {
    width: 350px;
  }
}
