.order .header {
  position: fixed;
}

.order-container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}

.order-container h2 {
  font-weight: 1000;
  margin: 0;
}

.order-container h3 {
  margin-bottom: 20px;
}

.order .product {
  width: 100%;
}

.order .product-image {
  display: flex;
  position: sticky;
  flex-direction: column;
}

.order .product-image img {
  width: 90%;
  border-radius: 20px;
}

.mounting-method,
.basic-material,
.add-material,
.add-image,
.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order .order-options {
  display: flex;
  justify-content: flex-end;
  width: 550px;
  margin-left: 30px;
}

.order .order-options .order-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.order .order-options .material-group {
  text-align: center;
}

.order-inputs {
  display: flex;
}

.order-inputs-selects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-inputs-select {
  margin: 20px;
}

.order-inputs-buttons {
  display: flex;
  justify-content: center;
}

.order-inputs-button {
  width: 45%;
  margin: 0 2.5%;
}

.add-image input {
  display: none;
}
.order-btn-group {
  display: flex;
  justify-content: space-between;
}

.order-btn-group .button {
  width: 47%;
}

/* 모바일 */
@media screen and (max-width: 500px) {
  .order-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .order-title {
    text-align: center;
  }

  .order-image {
    width: 85%;
  }

  .order-inputs {
    width: 85%;
  }
}
