.header {
  position: static;
}
h3 {
  text-align: center;
}
.container {
  display: flex;
  margin: 0;
}
.product {
  width: 60%;
}
.product-title {
  padding-left: 3%;
}
.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 5%;
}

.order {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.order-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-inputs-selects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-inputs-select {
  margin: 20px;
}

.order-inputs-buttons {
  display: flex;
  justify-content: center;
}

.order-inputs-button {
  width: 45%;
  margin: 0 2.5%;
}

.radio-btn {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #eae7e7;
  border-radius: 10px;
}
.radio-btn input[type="radio"] {
  /* display: none; */
}
.radio-btn label {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 45px;
}
/* Checked */
.radio-btn input[type="radio"]:checked + span {
  background: #184da0;
  color: #fff;
}
/* Hover */
.radio-btn label:hover {
  color: "red";
}

.add-image input {
  display: none;
}

/* 모바일 */
@media screen and (max-width: 500px) {
  .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .order-title {
    text-align: center;
  }

  .order-image {
    width: 85%;
  }

  .order-inputs {
    width: 85%;
  }
}
