.detail .container {
  width: 67%;
  margin: 30px auto 0;
}

.detail .title,
.detail .section1,
.detail .section2,
.detail .section3,
.detail .section4,
.detail .section5 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

.title span {
  font-size: 20px;
}

.orderId {
  font-size: small;
}

.detail .section1,
.detail .section2,
.detail .section3,
.detail .section4,
.detail .section5 {
  border-bottom: 1px solid #d2d2d7;
}

.detail .cancel {
  color: #0066cc;
  border: none;
  cursor: pointer;
  font-size: medium;
  align-items: end;
}

.Detailul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DetailProductInfo,
.DetailProductOptions,
.DetailProductQuantity,
.DetailProductPrice {
  margin: 0 10px;
}

.Detailul li {
  display: flex;
  align-items: center;
}

.detail .DetailProductName {
  font-size: 20px;
  text-align: center;
  align-self: center;
}

.detail .DetailProductType {
  text-align: center;
}

.detail .Detail-product-bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.DetailProductPrice,
.DetailProductQuantity {
  font-size: 20px;
}

.DetailProduct img {
  max-width: 100px;
  max-height: 100px;
}

.detail .section1 .productRepresentUrl {
  width: 200px;
  object-fit: contain;
  max-height: 150px;
  margin-right: 17px;
}

.section2 img {
  width: 100%;
  max-height: 200px;
}

.DetailProductOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
}

.DetailName {
  font-size: large;
  width: 33.33%;
}

.Detailcontainer3,
.Detailcontainer4 {
  display: flex;
}

.DetailSpacing {
  margin-bottom: 20px;
}

.detail .content {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

.detail .content-col {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

.detail .content .strong {
  font-weight: bold;
  margin-bottom: 3px;
}

.FinalTop,
.FinalBottom {
  display: flex;
  flex-direction: column;
}

.FinalTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.FinalBottom {
  width: 100%;
}

.charge,
.delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.finalDetail {
  display: flex;
  border-top: 1px solid #d2d2d7;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding: 1rem 0;
}

.section5 {
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .detail .container {
    width: 90%;
    margin: 35px auto 0;
  }

  .section1 .DetailProduct {
    display: flex;
    flex-direction: row;
  }

  .detail .section1 .productRepresentUrl {
    margin-right: 3rem;
  }

  .section1 .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .section1 .DetailProductName,
  .section1 .Detail-product-bottom {
    text-align: left;
  }

  .detail .DetailProductType {
    text-align: left;
  }

  .title span {
    font-size: 15px;
  }

  .section2,
  .section3,
  .section4 {
    display: flex;
    flex-direction: column;
  }

  .section2 {
    align-items: center;
  }

  .section3 .content,
  .section4 .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .DetailSpacing {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .DetailName {
    text-align: center;
    margin-bottom: 10px;
  }

  .detail .DetailProductInfo,
  .detail .DetailProductOptions {
    margin-bottom: 10px;
  }

  .detail .DetailName {
    width: 100%;
  }

  .detail .section5 .DetailName {
    width: auto;
  }

  .detail-card-mobile {
    background-color: #0066cc;
  }
}
