.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-login,
.social-login {
  width: 350px;
  margin: 20px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-checkbox,
.button {
  margin: 6px 0;
}

.login-checkbox {
  margin-right: 7px;
}

.login-nav {
  display: flex;
  justify-content: space-around;
}

.login-title {
  text-align: center;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
}

.border {
  border: 1px solid lightgray;
  width: 380px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .company-login,
  .social-login {
    width: 70%;
  }

  .border {
    width: 76%;
  }
}
