/* Section */
.sectionOrder {
  background-color: white;
  margin: 2rem;
}

.InquiryWrapper {
  height: 100%;
}

.inquery .content {
  padding-top: 5rem;
  padding-bottom: 0;
}

.TCheck {
  font-size: 30px;
  padding-left: 3rem;
}

.productRepresentUrl {
  width: 300px;
  height: auto;
  margin: 0 2rem 2rem 2rem;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 90%;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 5px;
}

.order-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 10px;
  align-items: center;
  width: 100%;
}

.order-right-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.order-right-top ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 5%;
}

.order-right-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  font-size: medium;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  font-size: medium;
}

.address2 {
  display: flex;
  flex-direction: column;
}

.address1,
.address {
  margin: 0;
}

.product-item {
  display: flex;
}

.product-item p {
  color: black;
  width: 100%;
  justify-content: space-around;
  font-size: x-large;
}

.address2,
.personal-info,
.date,
.order-status .cancel {
  margin-right: 5%;
}

.cancel {
  background-color: white;
  color: #0066cc;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin-bottom: 40px;
  font-size: large;
}

@media screen and (max-width: 768px) {
  /* 모바일 화면 크기에서 적용할 스타일 */
  .header-items {
    flex-direction: column;
  }

  .header-items li {
    margin: 0.5rem 0;
  }

  .content {
    padding: 1rem;
  }

  .TCheck {
    font-size: 24px;
    padding-left: 2rem;
    padding-top: 0.5rem;
  }

  .order-container {
    flex-direction: column;
  }

  .order-container h5 {
    font-size: 24px;
  }

  .productRepresentUrl {
    width: 100%;
    height: auto;
  }

  .order-right-top ul {
    margin: 0;
    padding: 0;
  }

  .product-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .personal-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .cancel {
    width: 100%;
  }

  .order-right-bottom {
    flex-direction: column;
  }
}
