/* Section */
.inquiry {
  height: 100%;
}

.inquiry .wrapper {
  height: 100%;
}

.inquiry .content {
  margin: 0 auto;
  max-width: 1000px;
}

.inquiry .sectionOrder {
  margin: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inquiry .order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.inquiry .buttons {
  display: flex;
  gap: 10px;
}

.inquiry .cancel,
.inquiry .review {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.inquiry .InquiryWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.inquiry .TCheck {
  font-size: 30px;
  padding-left: 3rem;
}

.inquiry .productRepresentUrl {
  width: 120px !important;
  height: 120px !important;
}

.inquiry .order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inquiry .order-left {
  display: inline-block;
  align-items: center;
  gap: 10px;
}

.inquiry .order-left p {
  text-align: center;
}

.inquiry .order-right {
  display: inline-block;
  width: calc(100% - 100px);
}



.inquiry .order-right-botton p {
  font-size: 5px;
}

.inquiry .order-right-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.inquiry .order-right-top ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 5%;
}

.inquiry .order-img-wrapper,
.inquiry .order-info-wrapper {
  display: flex;
  vertical-align: middle;
  margin-right: 1rem;
}

.inquiry.order-img-wrapper {
  float: left;
  margin-right: 10px;
}

.inquiry.order-info-wrapper {
  float: left;
}



.inquiry .order-right-bottom {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: flex-start;
  gap: 1rem;
  margin-left: 3rem;
}


.inquiry .review {
  grid-column-start: 5;
  grid-column-end: 6;
}

.PayAdd-wrapper {
  grid-column-start: 1;
  grid-column-end: 4;
}

.inquiry .personal-info {
  grid-column-start: 4;
  grid-column-end: 5;
}

.PayAdd-wrapper .address2,
.personal-info .info-customer {
  margin-top: 2rem;
}

.date {
  margin-top: 3rem;
}


.inquiry .order-status-date {
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.inquiry .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column-start: 6;
  grid-column-end: 7;
}

.inquiry .cancel {
  color: #0066cc;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: medium;
  grid-column-start: 5;
  grid-column-end: 6;
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

.inquiry .personal-info,
.inquiry .address2,
.inquiry .date,
.inquiry .order-status,
.inquiry .cancel {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: medium;
  font-size: 13px;
}

.inquiry .address1,
.inquiry .address {
  margin: 0;
}

.inquiry .product-item {
  display: flex;
  font-size: 10px;
}

.inquiry .order-info-wrapper .product-item {
  font-size: 10px;
}



.inquiry .order-status {
  margin-bottom: 1rem;
}


.product-item p {
  color: black;
  width: 100%;
  justify-content: space-around;
  font-size: x-large;
}



/* 모달 */
.inquiry .modal {
  display: flex;
}

.inquiry .modal .modal-content {
  margin: 0 30%;
}

.inquiry .modal .title,
.inquiry .modal .rating,
.inquiry .modal textarea,
.inquiry .modal .images {
  margin-bottom: 13px;
}

.inquiry .modal .title {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.inquiry .modal .title span {
  font-size: 16px;
}

.inquiry .modal .title img {
  width: 19px;
  height: 19px;
}

.inquiry .modal .rating {
  display: flex;
  justify-content: center;
}

.inquiry .modal .rating img {
  width: 33px;
  margin: 0 3px;
}

.inquiry .modal textarea {
  width: 100%;
  height: 100px;
  padding: 7px;
  resize: none;
  border: 1px solid gray;
}

.inquiry .modal textarea:focus-visible {
  outline: none;
  border: 1.5px solid gray;
}

.inquiry .modal .images {
  display: flex;
}

.inquiry .modal .images .image-crop {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 7px;
}
