/* Section */
html,
body,
.inquiry {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1500px;
}

.sectionOrder {
  margin: 2rem;
  width: 100%;
  display: flex;
}

.cancel,
.review {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.InquiryWrapper {
  height: 100%;
}


.TCheck {
  font-size: 30px;
  padding-left: 3rem;
}

.productRepresentUrl {
  width: 350px !important;
  height: 350px !important;
}

.inquiry .order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-right {
  width: 100%;
}

.order-right-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.order-right-top ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 5%;

}

.order-img-wrapper,
.order-info-wrapper {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 1rem;
}


.order-right-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  gap: 1rem;
  font-size: medium;
  margin-left: 3rem;
}

.review {
  grid-column-start: 5;
  grid-column-end: 6;
}

.personal-info,
.address2,
.date,
.order-status,
.cancel {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: medium;
}

.address1,
.address {
  margin: 0;
}

.product-item {
  display: flex;
}

.product-item p {
  color: black;
  width: 100%;
  justify-content: space-around;
  font-size: medium;
}

.cancel {
  color: #0066cc;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: medium;
  grid-column-start: 5;
  grid-column-end: 6;
}



/* 모달 */

.inquiry .modal {
  display: flex;
}

.inquiry .modal .modal-content {
  margin: 0 30%;
}

.inquiry .modal .title,
.inquiry .modal .rating,
.inquiry .modal textarea,
.inquiry .modal .images {
  margin-bottom: 13px;
}

.inquiry .modal .title {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.inquiry .modal .title span {
  font-size: 16px;
}

.inquiry .modal .title img {
  width: 19px;
  height: 19px;
}

.inquiry .modal .rating {
  display: flex;
  justify-content: center;
}

.inquiry .modal .rating img {
  width: 33px;
  margin: 0 3px;
}

.inquiry .modal textarea {
  width: 100%;
  height: 100px;
  padding: 7px;
  resize: none;
  /* 사용자 임의 변경 불가*/
  border: 1px solid gray;
}

.inquiry .modal textarea:focus-visible {
  outline: none;
  border: 1.5px solid gray;
}

.inquiry .modal .images {
  display: flex;
}

.inquiry .modal .images .image-crop {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 7px;
}
