.payment .header {
  position: static;
}

.payment-section,
.confirm-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-section form,
.confirm-section form {
  width: 600px;
}

.payment-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 17px;
}

.payment-user {
  margin-bottom: 30px;
}

.payment .input-title {
  margin-bottom: 15px;
}

.payment .payment-user .input-button {
  display: flex;
}

.payment .payment-user .input-button #address1 {
  width: 80%;
}

.payment .payment-user .input-button #address1 .input {
  border-radius: 5px 0 0 5px;
}

.payment .payment-user .input-button .button {
  width: 20%;
  font-size: 12px;
  margin: 10px 0;
  border-radius: 0 5px 5px 0;
}

.payment-contact {
  margin-bottom: 10px;
}

.confirm-product,
.confirm-backgroundImage,
.confirm-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.confirm-termsOfUse,
.confirm-total {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.confirm-product img {
  width: 100px;
}

.confirm-product .title {
  margin-bottom: 7px;
}

.confirm-backgroundImage img {
  width: 450px;
  height: 200px;
}

.confirm-info .content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.confirm-section .title {
  font-size: 13px;
  font-weight: bold;
}

.confirm-termsOfUse .title {
  margin-bottom: 7px;
}

.confirm-termsOfUse .checkbox-wrapper button {
  text-decoration: underline;
}

.confirm-total .title {
  margin-bottom: 7px;
}

.confirm-total .contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirm-total .content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

/* 모달 */
.payment .payment-section .modal-content,
.payment .confirm-section .confirm-termsOfUse .modal-content {
  width: 50%;
}
@media (max-width: 768px) {
  /* 768px 이하의 화면 크기에 적용할 스타일 */

  .payment-section,
  .confirm-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px; /* 좌우 패딩 추가 */
  }

  .payment-section form,
  .confirm-section form {
    width: 100%; /* 폼의 폭을 최대로 조정 */
  }

  .payment-title,
  .confirm-section .title {
    font-size: 24px; /* 폰트 크기 감소 */
  }

  .payment .payment-user .input-button #address1 {
    width: 70%; /* 주소 입력 폭 감소 */
  }

  .payment .payment-user .input-button .button {
    width: 30%; /* 버튼 폭 증가 */
  }

  .confirm-backgroundImage img {
    width: 300px; /* 이미지 폭 감소 */
    height: auto; /* 높이를 자동으로 조정 */
  }

  .confirm-product,
  .confirm-backgroundImage,
  .confirm-info,
  .delivery-info .content {
    flex-direction: column;
  }

  /* 모달의 폭 조정 */
  .payment .payment-section .modal-content,
  .payment .confirm-section .confirm-termsOfUse .modal-content {
    width: 100%;
  }
}
