.choose {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  margin-bottom: 100px;
}
.choose .choose-iscustomtext {
  color: cadetblue;
}
.choose .choose-isnotsale {
  margin-left: 10px;
  color: rgb(179 179 179);
}
.choose .choose-title {
  font-weight: 1000;
  /* margin-top: 20px; */
  margin-bottom: 60px;
}
.choose .choose-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.choose .choose-page {
  display: flex;
  align-items: 'center';
}
.choose .choose-productName {
  text-align: center;
  font-size: 20px;
}
.choose .choose-productPrice {
  color: gray;
}
.choose .product-title {
  font-weight: 2000;
  margin-top: 30px;
  margin-bottom: 50px;
}
.choose .product {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.choose .on-sale-product:hover {
  background: rgba(167, 167, 167, 0.1);
}

.choose .choose-iscustomtext,
.choose .choose-productPrice,
.choose .choose-rating {
  text-align: center;
  margin-bottom: 5px;
}

.choose .product-contents {
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
}

.choose .pages {
  align-items: 'center';
}

.choose .product-image-wrapper {
  height: 50%;
  display: flex;
}

.choose .product-image-wrapper img {
  width: 195px;
  border-radius: 5px;
  align-items: center;
  margin: auto;
  display: block;
}

.choose .choose-inputs {
  display: flex;
}

.choose .choose-inputs-selects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose .pages {
  font-size: 30px;
}

/* 모바일 */
@media screen and (max-width: 670px) {
  .choose-title {
    text-align: center;
  }
  .choose .choose-list {
    justify-content: center;
  }
}
