.order .order-container {
  padding: 0 200px;
  margin-bottom: 100px;
}

.order .order-page {
  display: flex;
}

.order .order-container .product-title {
  font-weight: 1000;
  margin-top: 30px;
  margin-bottom: 60px;
}

.order .product {
  width: 100%;
}

.order .product-image {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
}

.order .product-image img {
  width: 90%;
  border-radius: 20px;
}

.order .option {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order .order-options {
  display: flex;
  justify-content: flex-end;
  width: 550px;
  margin-left: 30px;
}

.order .order-options .order-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.order .order-options .material-group {
  text-align: center;
}

.order .order-inputs {
  display: flex;
}

.order .order-inputs-selects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order .order-inputs-select {
  margin: 20px;
}

.order-inputs-buttons {
  display: flex;
  justify-content: center;
}

.order .order-inputs-button {
  width: 45%;
  margin: 0 2.5%;
}

.order .add-image input {
  display: none;
}

.order .order-btn-group {
  display: flex;
  justify-content: space-between;
}

.order .order-btn-group .button {
  width: 47%;
}

.order .quantity-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order .quantity input {
  margin: 0 10px;
  width: 50px;
}

.order .quantity .price {
  font-weight: bold;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.order .add-image {
  text-align: center;
  padding-bottom: 35px;
}

.order .add-image .radio-btn {
  margin-bottom: 7px;
}

.order-editor div:hover {
  cursor: pointer;
}

/* 모바일 */
@media screen and (max-width: 1000px) {
  .order {
    width: 100%;
    align-content: center;
  }

  .order .order-container {
    padding: 0 20px;
    margin-bottom: 100px;
  }

  .order-page {
    display: flex;
    flex-direction: column;
  }

  .order .order-options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }

  .order .order-container .product-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .order .product-image {
    align-items: center;
  }

  .order .product-image {
    transform: initial;
  }

  .order .product-image img {
    width: 50%;
  }

  .order .product {
    margin-bottom: 30px;
  }

  .order .delivery-fee {
    padding: 10px 0;
  }
}

@media screen and (max-width: 780px) {
  .order .product-image img {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .order .product-image img,
  .order .option {
    width: 270px;
  }

  .order #add-image .image-crop {
    width: 270px !important;
  }

  .order .product-name {
    display: none;
  }
}
