.checkbox-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
<<<<<<< HEAD
  background-image: url("../image/icon/checkbox_0.png");
=======
  background-image: url('../image/icon/checkbox_0.png');
>>>>>>> ec83c28eba73da88312d677346a6dbf0a0d1b95b
  background-size: 100% 100%;
  margin-right: 7px;
  padding: 9px;
}

.checkbox-wrapper label {
  display: inline;
  cursor: pointer;
}

.checkbox:hover {
  background-image: url("../image/icon/checkbox_1.png");
}

.checkbox:checked {
<<<<<<< HEAD
  background-image: url("../image/icon/checkbox.png");
=======
  background-image: url('../image/icon/checkbox.png');
>>>>>>> ec83c28eba73da88312d677346a6dbf0a0d1b95b
}
