.checkbox-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 7px;
}

.checkbox:checked {
  background-image: url('../image/icon/checkbox.png');
  background-size: 100% 100%;
  background-color: black;
}
