.checkbox-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  background-image: url('../image/icon/checkbox_0.png');
  background-size: 100% 100%;
  margin-right: 7px;
  padding: 9px;
}

.checkbox:hover {
  background-image: url('../image/icon/checkbox_1.png');
}

.checkbox:checked {
  background-image: url('../image/icon/checkbox.png');
}
