/* Footer */
footer {
  background-color: #f6f6f6;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  display: flex;
  padding: 0;
}
footer li {
  padding-right: 15px;
}
footer .sns {
  text-align: right;
}
footer .sns a {
  padding-right: 10px;
}
footer .sns a img {
  width: 21px;
  height: 21px;
}
footer .info {
  margin-top: 30px;
}
footer .info div {
  color: #999;
  font-size: 12px;
  padding-bottom: 2px;
}
