.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.header-items {
  display: flex;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.header-items li {
  margin-right: 30px;
}

.header-items button {
  margin: 0;
}

.header-items .logo-img {
  width: 150px;
}
