.input-block {
  position: relative;
}

.input-block .input {
  width: 100%;
  border: 1px solid black;
  padding: 11px 10px 8px 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.inputs .input {
  margin: 10px 0;
}

.input:hover {
  background-color: #f5f5f5;
}

.input-block .input:focus-visible {
  outline: none;
  border-width: 1.5px;
}

.input-block input:invalid {
  border-color: red;
}

.label {
  position: absolute;
  left: 10px;
  top: -7px;
  padding: 0px 3px;
  background: white;
  color: gray;
}

.input-block .required-mark {
  margin-left: 2px;
}
