.review {
  margin: 0 15px;
  margin-top: 40px;
}

.review .tab {
  padding: 7px 0;
  border-bottom: 1px solid gray;
  text-align: center;
}

.review .title-div,
.review .filter,
.review .user,
.review .review-content,
.review .content,
.review .pages {
  margin: 7px 0;
}

.review .title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review .title-div .title {
  font-size: 15px;
  font-weight: bold;
}

.review .title-div .button {
  width: initial;
  border-radius: 20px;
}

.review .title-div .button img {
  width: 20px;
}

.review .filter {
  display: flex;
  justify-content: flex-end;
}

.review .review-content {
  padding: 7px 15px;
}

.review .review-content .user {
  display: flex;
  align-items: center;
}

.review .review-content .user .image-crop {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 10px;
}

.review .review-content .user .name {
  margin-right: 7px;
}

.review .review-content .rating img {
  width: 20px;
  margin-right: 3px;
}

.review .pages {
  text-align: center;
}

.review .pages span {
  margin-right: 20px;
  color: gray;
}

.review .pages span .active {
  color: black;
  font-weight: bold;
}

/* 모달 */
.review .modal {
  display: flex;
}

.review .modal .modal-content {
  margin: 0 30%;
}

.review .modal .title,
.review .modal .rating,
.review .modal textarea,
.review .modal .images {
  margin-bottom: 13px;
}

.review .modal .title {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.review .modal .title span {
  font-size: 16px;
}

.review .modal .title img {
  width: 19px;
  height: 19px;
}

.review .modal .rating {
  display: flex;
  justify-content: center;
}

.review .modal .rating img {
  width: 33px;
  margin: 0 3px;
}

.review .modal textarea {
  width: 100%;
  height: 100px;
  padding: 7px;
  resize: none; /* 사용자 임의 변경 불가 */
  border: 1px solid gray;
}

.review .modal textarea:focus-visible {
  outline: none;
  border: 1.5px solid gray;
}

.review .modal .images {
  display: flex;
}

.review .modal .images .image-crop {
  width: 70px;
  height: 70px;
  margin: 0;
  margin-right: 10px;
  border-radius: 7px;
}
