@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

div,
span,
a,
button,
input {
  font-family: 'Gothic A1', sans-serif;
  font-size: 13px;
}
